body {
    background-color: #ffffff; /* Modern white background color for the web pages */
    margin: 0; /* Remove default margins */
    font-family: 'Noto Sans', sans-serif; /* Use the Noto Sans font */
}

ul.navbar {
    font-family: 'Noto Sans', sans-serif; /* Use the Noto Sans font */

    list-style-type: none;
    margin: 40px 0; /* Adds a margin of 10px at the top and bottom of the navbar */
    padding: 0;
    background-color: #ffffff; /* White background color for the navbar */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

li.nav-item a {
    font-family: 'Noto Sans', sans-serif; /* Use the Noto Sans font */
    display: block;
    color: black; /* Black font color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-item a:hover {
    background-color: #e0e0e0; /* Light gray background color on hover */
}

/* Text below the navbar */
.navbar-text {
    font-family: 'Noto Sans', sans-serif; /* Use the Noto Sans font */
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #FC4E1A;
    line-height: 1.5;

}

 /* Specific Home Page styling */
 .home-content {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px; /* Add some top margin */
}

.home-text {
    flex: 1;
    margin-right: 200px;
    padding-top: 30px;
    padding-left: 50px;
    text-align: left;
    height: 300px; /* Set a fixed height for the home-text container */
}

.home-text p {
    font-family: 'Noto Sans', sans-serif; /* Use the Noto Sans font */
    font-size: 15px;
}

.home-text a {
    font-family: 'Arial', sans-serif; /* Modern font */
    color: #FC4E1A; /* Orange color for the link */
    text-decoration: none;
    font-weight: bold; /* Bold font weight */
    text-decoration: underline; /* Underline the link on hover */
}

.home-text p strong {
    font-family: 'Arial', sans-serif; /* Modern font */
    font-weight: bold; /* Bold font weight for the <strong> tag */
}

.home-image {
    margin-left: 250px;
    height: 300px; /* Set a fixed height for the home-image container */
}

.home-image img {
    height: auto;
    border-radius: 20px; /* Add rounded corners with a 10px radius */
}


/* Carousel container */
.carousel-container {
    width: 300px; /* Adjust the width as needed */
    overflow: hidden;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* Carousel wrapper to hold the images */
.carousel-wrapper {
    border-radius: 20px; /* Add rounded corners with a 10px radius */
    display: flex;
    transition: transform 0.5s ease;
}

/* Individual carousel image */
.carousel-image {
    width: 300px; /* Adjust the width as needed */
    height: auto;
}

/* Specific Experience Page styling */

.experience-head{
    font-family: 'Noto Sans', sans-serif; /* Use the Noto Sans font */
    margin-left: 320px;
    font-size: 25px;


}

.experience-block {
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    margin-left: 300px;
    max-width: 800px; /* Add a maximum width to limit the size of the blocks */
    width: 90%; /* Adjust the width as needed */
    line-height: 2;
}

.experience-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.experience-details {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;

}

.experience-description {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif; /* Use the Noto Sans font */

    

}

/* Footer styling */
footer {
    background-color: #ffffff; /* Same color as the background */
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    margin: 0;
    color: #333333; /* Dark gray font color for the footer text */
}


.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project-box {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-description {
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif; /* Use the Noto Sans font */

}

.project-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.project-summary {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif; /* Use the Noto Sans font */

    color: #555555;
}
